<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>WELCOME TO AIDSPAN</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>AIDSPAN</p>
      <p>
        WELCOME TO AIDSPAN WEB
      </p>
    </div>
  </section>
</body>
</html>
